.dataTable {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    .dataGrid {
        color: #333333;
        max-width: 90%;
        min-height: 250px;
        background-color: rgb(239, 239, 239);

        .MuiDataGrid-scrollbar{
            z-index: 1;
        }

        .MuiDataGrid-menuIcon{
            button{
                color: white;
            }
        }

        .MuiDataGrid-iconButtonContainer{
            button{
                color: white;
            }
        }
    }
}
