.formSolicitudes{
    width: 100%;
    form{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0 70px;
        .form--content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            column-gap: 60px;
            row-gap: 20px;
            .form--section{
                flex: 1;
                min-width: 500px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .form--item{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    input{
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        outline: none;
                    }
                    label{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .form--button{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        button{
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s;
            font-size: 1rem;
            font-weight: 500;
            &:hover{
                background-color: #0056b3;
            }
        }
    }
}