.home{
    width: 100%;
    padding: 20px;
    .header--home{
        padding: 10px;
        background: white;
        border-radius: 5px;
        h1{
            font-size: 1.5rem;
        }
    }
}